.bmws_simple_inpfld-border {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: var(--color_trans);
    border: 1px solid var(--color_gray);
    outline: none;
}

.bmws_simple_input-comb {width: 95%; display: flex;}






.bmws_input_combiner, .bmws_input_cont {
    width: 95%;
    height: 40px;
    margin-top: 20px;
    left: 0; right: 0;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.bmws_input_combiner, .bmws_input_vm-i, .bmws_input_combiner, .bmws_input_vm-w, .bmws_input_combiner, .bmws_input_vm-e {
    align-items: center;
    display: flex;
}

.bmws_input_combiner {justify-content: space-between;}

.bmws_input_cont-wsm {width: 25%;}
.bmws_input_cont-wmd {width: 45%;}
.bmws_input_cont-wlg {width: 65%;}
.bmws_input_cont-wxl {width: 85%;}

.bmws_input_cont-hsm {height: 20px;}
.bmws_input_cont-hmd {height: 30px;}
.bmws_input_cont-hlg {height: 40px;}
.bmws_input_cont-hxl {height: 50px;}

.bmws_input_combiner .bmws_input_cont {margin: 0px;}
.bmws_input_combiner .bmws_input_cont:nth-child(1) {margin-right: 5px;}

.bmws_inpfld-bwt,   /* Black Background, White Color, Transparent Input */
.bmws_inpfld-wbt {  /* White Background, Black Color, Transparent Input */
    width: 100%;
    font-size: 15px;
    padding-left: 15px;
    border-radius: 10px;
    color: var(--color_white);
    border: 1px solid var(--color_grayd);
    background-color: transparent;
    box-sizing: border-box;
    position: absolute;
    height: inherit;
}

.bmws_inpfld-wbt {  /* White Background, Black Color, Transparent Input */
    color: var(--color_black);
}

.bmws_input_combiner .bmws_inpfld-bwt, .bmws_input_combiner .bmws_inpfld-wbt {padding-left: 10px; margin: 0px;}
.bmws_show_pass, .bmws_delete_line {
    right: 10px;
    padding: 5px;
    margin-top: unset !important;
    position: absolute;
    cursor: pointer;
    margin: auto;
}

.bmws_input_vm-i, .bmws_input_vm-w, .bmws_input_vm-e {
    left: 5%;
    width: 85%;
    z-index: 10;
    padding: 2px;
    font-size: 13px;
    min-height: 20px;
    padding-left: 10px;
    border-radius: 10px;
    color: var(--color_maroon);
    background-color: var(--color_gold);
    transform: translateY(50px);
    position: absolute;
    font-weight: bold;
}

.bmws_input_vm-i p, .bmws_input_vm-w p, .bmws_input_vm-e p {margin: 0%;}
.bmws_input_vm-i {color: var(--color_white); background-color: var(--color_blue);}
.bmws_input_vm-e {color: var(--color_white); background-color: var(--color_red);}
.bmws_input_vm-i::before, .bmws_input_vm-w::before, .bmws_input_vm-e::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: translate(0%, -10px) rotate(-45deg);
    background-color: var(--color_gold);
}

.bmws_input_vm-i::before {background-color: var(--color_blue);}
.bmws_input_vm-e::before {background-color: var(--color_red);}
.bmws_inpfld-bwt:focus, .bmws_inpfld-wbt:focus {outline: none;}

.bmws_label-bwt,     /* Black Background, White Color, Transparent Label */
.bmws_label-wbt {    /* White Background, Black Color, Transparent Label */
    left: 0;
    font-size: 18px;
    transition: 0.3s;
    margin-left: 7px;
    padding-top: 8px;
    color: var(--color_grayd);
    transform: translateY(5px);
    pointer-events: none;
    position: absolute;
}

.bmws_input_cont .bmws_inpfld-bwt:valid,
.bmws_input_cont .bmws_inpfld-wbt:valid {
    border: 1px solid var(--color_green);
    transition: 0.3s;
}

.bmws_input_cont .bmws_inpfld-wbt:focus ~ .bmws_label-wbt,
.bmws_input_cont .bmws_inpfld-wbt:valid ~ .bmws_label-wbt,
.bmws_input_cont .bmws_inpfld-wbt:disabled ~ .bmws_label-wbt,
.bmws_input_cont .bmws_inpfld-bwt:focus ~ .bmws_label-bwt,
.bmws_input_cont .bmws_inpfld-bwt:valid ~ .bmws_label-bwt,
.bmws_input_cont .bmws_inpfld-bwt:disabled ~ .bmws_label-bwt {
    height: 15px;
    font-size: 13px;
    transition: 0.3s;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transform: translateY(-52px);
    transform: translateY(-10px);
    background-color: var(--color_black);
    justify-content: center;
    align-items: center;
    display: flex;
}

.bmws_input_cont .bmws_inpfld-wbt:focus ~ .bmws_label-wbt,
.bmws_input_cont .bmws_inpfld-wbt:valid ~ .bmws_label-wbt,
.bmws_input_cont .bmws_inpfld-wbt:disabled ~ .bmws_label-wbt {
    background-color: var(--color_white);
}

.bmws_input_cont .bmws_inpfld-bwt:disabled, .bmws_input_cont .bmws_inpfld-wbt:disabled {color: var(--color_grayd);}
.bmws_input_cont select:focus ~ .bmws_label-wbt,
.bmws_input_cont select:valid ~ .bmws_label-wbt,
.bmws_input_cont select:disabled ~ .bmws_label-wbt,
.bmws_input_cont select:focus ~ .bmws_label-bwt,
.bmws_input_cont select:valid ~ .bmws_label-bwt,
.bmws_input_cont select:disabled ~ .bmws_label-bwt {
    transform: translateY(-48px);
}

.bmws_input_cont .bmws_inpfld-wbt:focus ~ .bmws_label-wbt,
.bmws_input_cont .bmws_inpfld-wbt:disabled ~ .bmws_label-wbt,
.bmws_input_cont .bmws_inpfld-bwt:focus ~ .bmws_label-bwt,
.bmws_input_cont .bmws_inpfld-bwt:disabled ~ .bmws_label-bwt {
    color: var(--color_grayd);
    border: 1px solid var(--color_grayd);
}

.bmws_input_cont .bmws_inpfld-wbt:valid ~ .bmws_label-wbt,
.bmws_input_cont .bmws_inpfld-bwt:valid ~ .bmws_label-bwt {
    color: var(--color_green);
    border: 1px solid var(--color_green);
}

.bmws_inpfld-bwt option {
    background-color: var(--color_black);
    border: 1px solid var(--color_grayd);
}

.bmws_inpfld-wbt option {
    background-color: var(--color_white);
    border: 1px solid var(--color_grayd);
}

.bmws_inptf_cont-bwt, .bmws_inptf_cont-wbt {
    width: auto;
    height: auto;
}

.bmws_input_file {
    padding: 5px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.bmws_inptf_cont-bwt .bmws_input_file {
    border: 2px solid var(--color_white);
    background-color: var(--color_black);
    color: var(--color_white);
}

.bmws_inptf_cont-wbt .bmws_input_file {
    border: 1px solid var(--color_black);
    background-color: var(--color_white);
    color: var(--color_black);
}

.bmws_input_file ~ input {
    /* display: none; */
    opacity: 0;
}

.bmws_input_profimg {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    left: 0; right: 0;
    border-radius: 50%;
    border: 2px solid var(--color_white);
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.bmws_input_profimg .bmws_inptf_cont-bwt, .bmws_input_profimg .bmws_inptf_cont-wbt {
    align-self: flex-end;
}